body{
	background-image: url(imagenes/tours.jpg);
	background-repeat: no-repeat;
	font-family: Agency FB;
	text-transform: uppercase;
	color: white;
	font-size: 25px;
}
h1{
	text-align: center;
}
a:link{
	color: white;
	text-decoration: none;
}
a:visited{
	color: white;
	text-decoration: none;
}
td{
	border-bottom-style: solid;
	border-bottom-color: white;
	border-bottom-width: 2px;
}
.derecha{
	padding-left: 200px;
}
table{
	position: absolute;
	top: 25%;
	left: 25%
}